body {
    text-align: center;
    font-family: sans-serif;
    padding: 0;
    font-size: 25px;
    background-color: lavender;
}

.letters {
    margin: 0 auto 10px auto;
    padding: 10px;
    
}

#reset {
    margin-bottom: 30px;
}

.hidden{
    visibility: hidden;
}


#word-undercores{
    display: flex;
    justify-content: center;
    gap:10px
}

image {
    align-self: center;
}


